<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vue Basics</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css"/>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
</head>
<body>
<header>
    <h1>Monster Slayer</h1>
</header>
<div id="game">
    <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
            <div class="healthbar__value" :style="monsterHealthStyle"> </div>
        </div>
    </section>
    <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
            <div class="healthbar__value" :style="playerHealthStyle"> </div>
        </div>
    </section>
    <section v-if="gameOver" class="container">
        <h2> Game Over </h2>
        <h3 v-if="winner==='draw'"> It's a draw! </h3>
        <h3 v-else-if="winner==='monster'"> You lost!</h3>
        <h3 v-else> You won! </h3>
        <button @click="restartGame"> Restart Game </button>
    </section>
    <section id="controls">
        <button @click="attackMonster" :disabled="gameOver">ATTACK</button>
        <button @click="specialAttackMonster" :disabled="!canSpecialAttack || gameOver" >SPECIAL ATTACK</button>
        <button @click="healPlayer" :disabled="fullHealth || gameOver">HEAL</button>
        <button @click="surrender" :disabled="gameOver">SURRENDER</button>
    </section>
    <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul v-for="log in logs">
            <li> {{ log }}</li>
        </ul>
    </section>
</div>
</body>
</html>
